//COLORS
$back-ground: #7c7c7c;
$text-color: #d5d5d5;
$text-color-light: #9b9b9b;
$red-color: #fe3636;
$btn-icon-bg: #c97b7b;



//HOVER COLORS

//bar-menu
$menu-hover-bg: #4b4b4b7e;
$menu-hover-border: #5858584a;

//btn
$btn-hover-shadow: #b40c0c64;
$btn-hover-bg: #c60a0a;

//icon
$icon-hover-shadow: #c3b8b864;
$icon-hover-bg: #c3b8b83d;

//chating-text
$text-hover-border: #c8c8c857;



//CIRCLE
$cyan: #7ffff0;
$lightlue: #00ccff;


//SIZE
$screenSize: 812px;



//IMAGES
$background-image: "../images/main-background.png";
